openapi: 3.2.0
info:
  title: Edinburgh DataShare OAI PMH API
  description: OAI-PMH 2.0 metadata harvesting endpoint operated by the University of Edinburgh for Edinburgh DataShare.
  version: '2.0'
  contact:
    name: Datashare
    url: https://datashare.ed.ac.uk/
    email: data-library-team@mlist.is.ed.ac.uk
  x-operator: institution
  x-operator-evidence: 'host datashare.ed.ac.uk is under ed.ac.uk, Domain Owner: University of Edinburgh (Nominet whois)'
  x-provenance:
    method: probed
    generated: '2026-08-19'
    source: https://datashare.ed.ac.uk/server/oai/request?verb=Identify
servers:
- url: https://datashare.ed.ac.uk/server/oai
  description: Canonical baseURL as self-reported by the Identify response (probed 200)
tags:
- name: oai pmh
  description: OAI-PMH 2.0 metadata harvesting for Edinburgh DataShare
paths:
  /request:
    get:
      tags:
      - oai pmh
      operationId: oaiRequest
      summary: OAI-PMH request entry point
      description: Single OAI-PMH entry point. The verb parameter selects the operation. Identify, ListMetadataFormats, ListSets, ListIdentifiers, ListRecords and GetRecord were all reachable anonymously when probed.
      parameters:
      - name: verb
        in: query
        required: true
        description: OAI-PMH verb
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        description: Metadata format (observed prefixes on this endpoint)
        schema:
          type: string
          enum:
          - oai_dc
          - qdc
          - dim
          - mods
          - mets
          - ore
          - didl
          - xoai
          - rioxx
          - uketd_dc
          - rdf
          - marc
      - name: identifier
        in: query
        required: false
        description: OAI identifier, required for GetRecord
        schema:
          type: string
      - name: set
        in: query
        required: false
        description: Set spec to restrict a harvest
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Selective-harvest lower bound (granularity YYYY-MM-DDThh:mm:ssZ)
        schema:
          type: string
      - name: until
        in: query
        required: false
        description: Selective-harvest upper bound
        schema:
          type: string
      - name: resumptionToken
        in: query
        required: false
        description: Flow-control token from a previous incomplete list response
        schema:
          type: string
      responses:
        '200':
          description: OAI-PMH XML response (observed). Protocol-level failures are also returned with HTTP 200 and an <error> element carrying an OAI error code.
          content:
            text/xml:
              schema:
                type: string
                description: OAI-PMH 2.0 XML document
