openapi: 3.2.0
info:
  title: University Of Edinburgh OAI PMH API
  version: '2.0'
  x-operator: institution
  x-refined-note:
  - x-operator-evidence differs across the merged source definitions and was not carried
  - x-provenance differs across the merged source definitions and was not carried
  description: 'Operations tagged OAI-PMH across 2 of this provider''s published API definitions: university-of-edinburgh-datashare-oai-pmh-openapi.yml, university-of-edinburgh-era-oai-pmh-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://datashare.ed.ac.uk/server/oai
  description: Canonical baseURL as self-reported by the Identify response (probed 200)
- url: https://era.ed.ac.uk/server/oai
  description: Canonical baseURL as self-reported by the Identify response (probed 200)
tags:
- name: OAI-PMH
  description: OAI-PMH 2.0 metadata harvesting for Edinburgh DataShare
paths:
  /request:
    get:
      tags:
      - OAI-PMH
      operationId: oaiRequest
      summary: OAI-PMH request entry point
      description: Single OAI-PMH entry point. The verb parameter selects the operation. Identify, ListMetadataFormats, ListSets, ListIdentifiers, ListRecords and GetRecord were all reachable anonymously when probed.
      parameters:
      - name: verb
        in: query
        required: true
        description: OAI-PMH verb
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        description: Metadata format (observed prefixes on this endpoint)
        schema:
          type: string
          enum:
          - oai_dc
          - qdc
          - dim
          - mods
          - mets
          - ore
          - didl
          - xoai
          - rioxx
          - uketd_dc
          - rdf
          - marc
      - name: identifier
        in: query
        required: false
        description: OAI identifier, required for GetRecord
        schema:
          type: string
      - name: set
        in: query
        required: false
        description: Set spec to restrict a harvest
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Selective-harvest lower bound (granularity YYYY-MM-DDThh:mm:ssZ)
        schema:
          type: string
      - name: until
        in: query
        required: false
        description: Selective-harvest upper bound
        schema:
          type: string
      - name: resumptionToken
        in: query
        required: false
        description: Flow-control token from a previous incomplete list response
        schema:
          type: string
      responses:
        '200':
          description: OAI-PMH XML response (observed). Protocol-level failures are also returned with HTTP 200 and an <error> element carrying an OAI error code.
          content:
            text/xml:
              schema:
                type: string
                description: OAI-PMH 2.0 XML document
    servers:
    - url: https://datashare.ed.ac.uk/server/oai
      description: Canonical baseURL as self-reported by the Identify response (probed 200)
x-refined-from:
- university-of-edinburgh-datashare-oai-pmh-openapi.yml
- university-of-edinburgh-era-oai-pmh-openapi.yml
